.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}
/* CSS declarations go here */
body {
  .clearfix();
  background-color: #fff;
  padding-bottom: 1rem;
  padding-bottom: 300px;
  min-width: 350px;
}

body.fixed {
  padding: 80px 0;

  .app {}

  #aside {
    position: fixed;
    left: 0;
    top:60px;

    .item {
      padding: 1.3em;

      > i.icon {
        font-size: 1.15em;
        float: left;
        margin: 0 10px 0 -7px;
        line-height: 12px;
      }
    }
  }

  .aside-container {
    padding: 0 1rem 0 0 !important;

    aside {}

    &.visible {
      display: block!important;
    }
  }
}

.header.grid .row {
  padding: 0;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui.container {
  // max-width: 723px!important;
}

.ui.cards {
  margin: 1rem 0;
}

.ui.main.menu {
  .item:hover {
    background-color: transparent!important;
  }
}

#aside {
  transition: all 0.70s linear;
}

.ui.main.menu {
  transition: all 0.30s linear;
      padding: 3px 0;
}

.ui.breadcrumb {
  margin: 1rem 0;
}

.main {
  /*margin-top: 7em;*/
}

.confirm .content.actions {
  text-align: center!important;
}

.patients.cards {
  margin: 1em 0;
}

.login .column {
  max-width: 450px;
}

.login.grid {
  height: 100%;
  margin-top: 50px;
}

.ui.card.task .header {
  margin-top: 10px !important;
}

.contenteditable {
  cursor: pointer;
  outline: none;

  &:empty:before {
    content: attr(placeholder);
    font-style: italic;
  }

  &:focus,
  &:active {
    cursor: text;
  }
}

.icon.label.is-completed {
  cursor: pointer;

  input[type="checkbox"] {
    display: none;
  }
}

.wizard {
  .fixed.bottom.sticky.field {
    left: 0;
    bottom: 0;
    width: 100%;

    .item {
      line-height: 2rem;
    }
  }
}

.border-bottom {
  border-bottom: 1px solid #eee;
  margin-bottom: 14px;
  margin-top: 14px;
}

.button.ui.button.card.add-form {
    justify-content: center;
    text-align: -webkit-center;
    border-style: dashed;
    box-shadow: none;
    border-width: 1px;
}
