<template name="dischargeNotePDF">
    <div class='ui container segment raised pdf_summary'>
        <div class="ui">
            {{>pdfHeader}}
            {{>pdfFormSubHeader}}
            {{>pdfDischargeNoteData}}
        </div>
    </div>
</template>

<template name='pdfDischargeNoteData'>

        <div class='ui grid'>
            <div class='sixteen wide column'>{{>dischargePDF_admission_details}}</div>
            <div class='sixteen wide column'>{{>dischargePDF_death_details}}</div>
            <div class='sixteen wide column'>{{>dischargePDF_secondary_diagnosis}}</div>
            <div class='sixteen wide column'>{{>dischargePDF_adverseEvent_diagnosis}}</div>
            <div class='sixteen wide column'>{{>dischargePDF_treatments}}</div>
            <div class='sixteen wide column'>{{>dischargePDF_medication}}</div>
            <div class='sixteen wide column'>{{>dischargePDF_dischargeNoteNarrative}}</div>
        </div>
</template>


<template name='dischargePDF_admission_details'>
    <table class='ui striped table no-padding'>
        <thead>
            <tr>
                <th colspan="1" class=''>
                    Reason for admission
                </th>    <th colspan="1" class=''>
                Admitting diagnosis
            </th>    <th colspan="1" class=''>
            Principal diagnosis
        </th>
    </tr></thead>
    <tbody>
        <tr>
            <td class="">reason here diagnosis</td>
            <td class="">[admitting here]</td>
            <td class="">[principal here]</td>
        </tr>
    </tbody>
</table>
</template>



<template name='dischargePDF_death_details'>
    <table class='ui striped table no-padding'>
        <thead>
            <tr><th colspan="2" class=''>
                Cause of death
            </th>
        </tr></thead>
        <tbody>
            <tr>
                <td class="">Specify</td>
                <td class="">[reasons here]</td>
            </tr>     <tr>
            <td class="">Autopsy</td>
            <td class="">[autopsy here]</td>
        </tr>
    </tbody>
</table>
</template>

<template name='dischargePDF_secondary_diagnosis'>

    <table class='ui striped table no-padding'>
        <thead>
            <tr>
                <th colspan="3" class=''>
                    Secondary diagnosis
                </th>
            </tr>
            <tr>
                <th colspan="1" class=''>

                </th>
                <th colspan="1" class=''>
                    Name
                </th>
                <th colspan="1" class=''>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="">[checkbox]</td>
                <td class="">[diagnosis name ]</td>
                <td class="">[details]</td>
            </tr>
        </tbody>
    </table>

</template>
<template name='dischargePDF_adverseEvent_diagnosis'>
    <table class='ui striped table no-padding'>
        <thead>
            <tr>
                <th colspan="3" class=''>
                    Diagnosis arising during admission (including complications and infections)
                </th>
            </tr>
            <tr>
                <th colspan="1" class=''>

                </th>
                <th colspan="1" class=''>
                    Name
                </th>
                <th colspan="1" class=''>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="">[checkbox]</td>
                <td class="">[event name ]</td>
                <td class="">[details]</td>
            </tr>
        </tbody>
    </table>


</template>
<template name='dischargePDF_treatments'>
    Medical surgical treatment here
</template>
<template name='dischargePDF_medication'>
    See discharge pharma record
</template>

<template name='dischargePDF_dischargeNoteNarrative'>
    <table class='ui striped table no-padding'>
        <thead>
            <tr><th colspan="1" class=''>
                Discharge Note
            </th>
        </tr></thead>
        <tbody>
            <tr>
                <td class="">[discharge note here</td>
            </tr>
        </tbody>
    </table>
</template>