<template name="pdfFooter">
    <div class="ui horizontal list mini  ">
        <div class="item">Prepared by: {{prepared}}</div>
        <div class="item">Date: {{date}}</div>
        <div class="item">Document status: {{status}}</div>
    </div>
    <div style="float:right">
    <svg id="barcode" data-value="{{document_id}}"></svg>
    </div>
</template>

