<template name="admissions">
    <a class=" mobile only mdl-button mdl-js-button mdl-button--fab mdl-button--colored fab-button-float" href="/admissions/new">
      <i class="material-icons">add</i>
    </a>
<div class="ui container">
<div class='ui grid'>
       <div class='sixteen wide column'>
          <a class="ui labeled icon button right floated tablet computer only " href="/admissions/new">
            <i class="plus icon"></i>
            New admission
          </a>
          {{title}}
</div>
</div>
</div>
    <div class='ui container segment'>
            <div class="ui grid">


    {{#if notEmpty admissions}}

        <div class='sixteen wide column'>
            <div class="ui large very relaxed divided list">
                {{#each admissions}}
                    <div class="item js-td" data-id="{{_id}}">
                           <div class="right floated content"><div class='meta'> {{formatDate checkedIn 'MMM-DD'}}<br/> LOS:{{fromNow checkedIn}}</div></div>
                          {{#with getPatient patientId }}
                           <span class="avatar-ui avatar-ui-{{avatarColor}} massive-avatar">{{nameInitials name}}</span>
                         <div class='content'>
                              <div class='header'>{{name}}</div>
                              <div class='description'>{{phn.value}}</div>
                            <!--   <div class='meta'>{{formatDate checkedIn 'MMM-DD'}}</div> -->
                          </div>
                            {{/with}}
                    </div>
                {{/each}}
                </div>
                </div>
        {{else}}

         <div class='sixteen wide column'>
              <p class="ui header ">None found. Please admit a patient</p>
        </div>

            {{/if}}
  </div>
  </div>
</template>
