<template name="admission">
    {{#with admission}}
    <div class='ui segments container margin-top-50 transparent' >
        {{> AdmissionComponent isArchive=true patient=patientData admission=admissionData}}
        {{> encountersList encounters=encounters patient=patientData}}
    </div>
    {{/with}}
</template>

<template name="admissionNew">

        <div class="ui segment container margin-top-50">
            <div class='ui grid'>
            <div class='sixteen wide column'>
            <div class="summary">
                <h4 class="ui dividing header">Patient information</h4>
                {{#autoForm collection="Admissions" id="insertAdmissionForm" type="insert" doc=admission}}
                <div class='two fields'>
                    {{> afFormGroup name="patientId" template="semanticUI" placeholder="Select patient"}}
                    {{> afQuickField name='checkedIn'}}
                </div>
                <h4 class="ui dividing header">Location</h4>
                <div class='two fields'>
                    {{> afQuickField name='location.type' }}
                    {{> afQuickField name='location.name' }}
                    {{> afQuickField name='location.ft_code' }}
                </div>
                {{> afQuickField name='careplanId'}}
                <button type="submit" class="ui primary button submit right floated">Submit</button>
                <button type="reset" class="ui secondary button cancel left floated">Cancel</button>
                {{/autoForm}}
            </div>
        </div>
        </div>
    </div>

</template>

<template name="admissionEdit">
    {{> admissionHeader title="Edit Admissions"}}
    {{> quickForm collection="Admissions" id="updateAdmissionForm" type="update" doc=admission}}
</template>
