<template name="admissionHeader">
<div class="mdl-cell mdl-cell--12-col">
{{> admissionMenu}}
  </div>
</template>

<template name="admissionMenu">
  <div class="ui menu">
    <a class="item" href="{{pathFor 'admissions'}}">
      All
    </a>
    <a class="item" href="{{pathFor 'admissions.list' list='checked-in'}}">
      Checked In
    </a>
    <a class="item" href="{{pathFor 'admissions.list' list='checked-out'}}">
      Checked out
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" name="list" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <div class="item">
        <a class="ui primary button" href="{{pathFor 'New admission'}}">
          Create new
        </a>
      </div>
    </div>
  </div>
</template>
