<template name="admissionsModal">
  <div class="ui small modal" data-appointment="{{_id}}">
    <div class="header">{{title}}</div>
    <div class="content">
        {{> UI.dynamic template=admissionFormTemplate data=admission}}
    </div>
  </div>
</template>

<template name="admissionFormInsert">
    {{#autoForm id="insertAdmissionForm" collection="Admissions" type="insert" validation="browser" template="semanticUI" doc=admission}}
        {{> afQuickField name="patientId" label="Patient" value=admission.subject autofocus=false}}
        {{> afQuickField name="location" label="Location" value=admission.location}}
        {{> afQuickField name="checkedIn" label="Arrival date/time" value=defaultDateTime autofocus=true}}
        {{> afQuickField name="careplanId" type="hidden" value=admission.careplanId}}
        <div class="actions">
          <div class="ui deny button">
            Cancel
          </div>
          <button class="ui submit button" type="submit">
            Check-in
          </button>
        </div>
    {{/autoForm}}
</template>

<template name="admissionFormUpdate">
    {{#autoForm id="updateAdmissionForm" collection="Admissions" type="update" validation="browser" doc=admission}}
     <div class='ui grid'>
     <div class='ui segment container margin-top-50'>
     <div class='two fields'>

        <div class="field">
          <label>Patient</label>
          <input type="text" value="{{patientName}}">
        </div>
        {{> afQuickField name="patientId" label="Patient" autofocus=false readonly=true type='hidden'}}
      </div>
        <div class='two fields'>
          {{> afQuickField name="checkedOut"}}
          {{> afQuickField name="checkedIn"}}
          </div>

        <div class='two fields'>
          {{>afQuickField name='location.type'}}
          {{>afQuickField name='location.name'}}
          {{>afQuickField name='location.ft_code'}}
      </div>

        <div class="actions">
          <div class="ui cancel button">
            Cancel
          </div>
          <button class="ui submit button right floated primary" type="submit">
             Discharge from ICU
          </button>
        </div>
        </div>
        </div>
    {{/autoForm}}

</template>
