<template name="emailWrapper">
    {{> yield}}
</template>

<template name="emailLayout">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 640px !important; display:block !important; margin:0 auto !important; clear:both!important;">
        {{> UI.dynamic template=emailTemplate data=data}}
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
  </center>

</template>
