<template name="patientOverduedEmail">
    <p>Dear {{patient.name}}</p>
    <p>
        Your have overdued forms in service <a href="https://followupapp.ca" target="_blank">FollowUp</a>
    </p>
    <p>Please, contact to Your physician or service administration</p>
    <hr>
    <h4>Overdued forms</h4>

    <table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Physician</th>
                <th>Created Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
        {{#each questionnaires}}
            <tr>
                <td>{{name}}</td>
                <td>{{status}}</td>
                <td>{{{approvedBy}}}</td>
                <td>{{{createdDate}}}</td>
                <td>{{dueDate}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <hr>
    <p>Yours sincerely,<br><a href="https://followupapp.ca" target="_blank">FollowUp</a></p>
</template>
