<template name="physicianOverduedEmail">
    <p>Dear {{physician.profile.name}}</p>
    <p>
        Your have overdued and appointment forms in service <a href="https://followupapp.ca" target="_blank">FollowUp</a>
    </p>
    <p>Please, contact to Your patients</p>
    <hr>
    <h4>Appointments forms</h4>
    <table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Patient</th>
                <th>Created Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
        {{#each appointment}}
            <tr>
                <td>{{name}}</td>
                <td>{{status}}</td>
                <td>{{{patient}}}</td>
                <td>{{{createdDate}}}</td>
                <td>{{dueDate}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <hr>
    <h4>Overdued forms</h4>
    <table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Patient</th>
                <th>Created Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
        {{#each overdued}}
            <tr>
                <td>{{name}}</td>
                <td>{{status}}</td>
                <td>{{{patient}}}</td>
                <td>{{{createdDate}}}</td>
                <td>{{dueDate}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <hr>

    <p>Yours sincerely,<br><a href="https://followupapp.ca" target="_blank">FollowUp</a></p>
</template>
