<template name="reportsNav">
    <div class='ui container segment'>
        <div class="ui secondary menu">
          <div class="ui pointing dropdown link item">
              <span class="text">Select Report</span>
              <i class="dropdown icon"></i>
              <div class="menu js-add-menu">
                {{#each reports}}
                    <div class="item" data-value="{{_id}}">{{name}}</div>
                {{/each}}
                <div class="item" data-value="">+ Add New Report</div>
              </div>
            </div>
        </div>
    </div>
</template>