<template name="reportResults">
    {{#if report}}
    <div class='ui container segment'>
            {{#if hasPublishedCount 'reports.results.count'}}

                {{> UI.dynamic template=report.template data=results}}
                {{> pagination pagesCount=pagesCount currentPage=currentPage}}

            {{else}}
                <ul class="ui divided list">
                    Run query for results
                </ul>
                <div class="ui active centered inline loader"></div>
            {{/if}}
    </div>
    {{/if}}
</template>


<template name="pagination">
    {{#if gt pagesCount 1}}
    <div class="ui pagination menu">
        {{#each times pagesCount}}
        <a class="{{#if equals currentPage this}}active{{/if}} item">
            {{inc this}}
        </a>
        {{/each}}
    </div>
    {{/if}}
</template>


