<template name="reportView">
    <div class='ui container segment'>
        <div class="ui accordion">
            {{#if equals form.type 'update'}}
                <div class="ui basic button right floated js-export">Export</div>
            {{/if}}
            <div class="title">{{form.name}}</div>
            <div class="content">
                {{> quickForm collection="Reports" id="ReportForm" type=form.type template="reportsForm" doc=form.report}}
            </div>
        </div>
    </div>
</template>


<template name="quickForm_reportsForm">
    {{#autoForm collection=this.qfAutoFormContext.collection id=qfAutoFormContext.id type=this.atts.type doc=this.atts.doc resetOnSuccess=true trimStrings=true preserveForm=false type=qfAutoFormContext.type}}

    {{> afQuickField name="name"}}

    {{> afArrayField name="admissionsCriteriа" template="admissionsCriteriа" initialCount=0}}

    {{> afArrayField name="formsCriteriа" template="formsCriteriа" initialCount=0}}

    <div class="ui divider"></div>
    {{> afQuickField name="template" template="semanticUI"}}

    <div class="ui segment attached bottom">
        <button type="submit" class="ui positive submit button">
            Submit
        </button>
        {{#if equals this.atts.type "update"}}
            <div class="ui negative button js-remove">Remove report</div>
        {{/if}}
    </div>
    {{/autoForm}}
</template>


<template name="afArrayField_admissionsCriteriа">
    <h4 class="ui dividing header">
        Criteria
    </h4>
    <div class="fields">
        <div class="seven wide field required">
            <label>Field</label>
        </div>
        <div class="two wide field required">
            <label>Condition</label>
        </div>
        <div class="six wide field required">
            <label>Value</label>
        </div>
    </div>
    {{#afEachArrayItem name=this.atts.name}}
        {{> arrayItem}}
    {{/afEachArrayItem}}
    <div class="mini ui basic button green autoform-add-item" data-autoform-field="admissionsCriteriа">
            Add new
        </div>
</template>


<template name="afArrayField_formsFieldsCriteriа">
    {{#afEachArrayItem name=this.atts.name}}
        {{> arrayItem}}
    {{/afEachArrayItem}}
</template>


<template name="afArrayField_formsCriteriа">
    <div class="ui">
        {{#afEachArrayItem name=this.atts.name}}
        <hr>
        <div class="fields">
            <div class="noteForm fourteen wide field required">
                {{> afQuickField name=current.form label=false template="semanticUI"}}
            </div>
            <div class="one field ">
                <button class="small ui basic button green autoform-add-item" data-autoform-field={{current.formСriteria}}> + </button>
            </div>
            <div class="one field ">
                <button class="small ui basic button red autoform-remove-item" data-autoform-field={{current.formСriteria}}> - </button>
            </div>
        </div>
        <div class="noteFields">
            {{> afArrayField name=current.formСriteria label=false template="formsFieldsCriteriа" initialCount=0}}
        </div>
        {{/afEachArrayItem}}

        <div class="mini ui button basic green autoform-add-item" data-autoform-field="formsCriteriа">
            Select form
        </div>

    </div>
</template>


<template name="arrayItem">
    <div class="fields">
        <div class="seven wide field required itemField">
            {{> afQuickField name=current.field label=false template="semanticUI"}}
        </div>
        <div class="two wide field required">
            {{> afQuickField name=current.condition label=false template="semanticUI"}}
        </div>
        <div class="six wide field required">
            {{> afQuickField name=current.value label=false template="semanticUI" type=fieldParams.type options=fieldParams.options}}
            {{> afQuickField name=current.type label=false template="semanticUI" type='hidden' value=fieldParams.schemaType}}
        </div>
        <div class="one field ">
            <button class="small ui basic button red autoform-remove-item "> - </button>
        </div>
    </div>
</template>
