<template name="ReportsQuestionnaires">
    <h2> Reports </h2>
    <button class="ui button right floated _download-report" data-loading-text="Exporting...">
      Export Report
    </button>
    {{> reactiveTable settings=settings}}
</template>

<template name="rq_Link">
    <a href="/questionnaires/{{_id}}">
        <i class="linkify icon"></i>
    </a>
</template>

<template name="rq_Completed">
    <small>Completed by:</small><br />
    {{completedBy}}
</template>

<template name="rq_CompletedWithin">
    <small>Completed within:</small><br />
    {{completedWithin}}
</template>


<template name='reportsNav'>
    <H3 class='ui heading'> Keep track of trends </h3>
    <p> Measure adherence to organization wide performance indicators </p>
    <div class='ui container segment'>
        <div class="ui grid">
            <div class='ten column wide'>
                <h3> General reports</h3>
                    <p>Infection rates </p>
                    <p> Rate of profolax </p>
                    <p> Average length of stay </p>
            </div>
        </div>
    </div>
</template>

