<template name="report_forms_only">
    {{#each this}}
        {{#q_admissionTemplate_formsOnly}}
            {{#with getForms}}
                {{#each this}}
                    {{> q_formTemplate}}
                {{/each}}
            {{/with}}
        {{/q_admissionTemplate_formsOnly}}
    {{/each}}
</template>


<template name="report_admissions_only">
    {{#each this}}
        {{> q_admissionTemplate}}
    {{/each}}
</template>


<template name="report_admissions_forms">
    {{#each this}}
    {{#q_admissionTemplate}}
        {{#with getForms}}
            {{#each this}}
                {{> q_formTemplate}}
            {{/each}}
        {{/with}}
    {{/q_admissionTemplate}}
    {{/each}}
</template>


<template name="q_formTemplate">
    {{> _encounter encounter=getEncounter}}
</template>


<template name="q_admissionTemplate_formsOnly">
    <div class="ui comments">
        {{> UI.contentBlock}}
    </div>
</template>


<template name="q_admissionTemplate">
    <div class="ui comments">
    <div class="comment">
        {{#with getPatient patientId }}
            <span class="ui avatar image avatar-ui avatar-ui-{{avatarColor}} massive-avatar">{{nameInitials name}}</span>
        {{/with}}
        <a class="content" href="{{pathFor 'admission'}}" target="_blank">
            {{#with getPatient patientId }}
            <a class="author">{{name}} {{#if phn.value}} ({{phn.value}}) {{/if}} </a>
            {{/with}}
            <div class="ui fitted divider"></div>
            <div class="text">
                <span class='item'>Location: <strong>{{getLocationName}}</strong></span>
                |
                <span class="item">
                    Reason for Admission: <strong>{{getReason this}}</strong>
                </span>
            </div>
            <div class="actions">
                {{#if checkedIn}}<span class="date">Admitted: <strong>{{formatDate checkedIn 'DD-MMM-YYYY'}}</strong></span>{{/if}}
                {{#if checkedOut}}
                    |
                    <span class="date">Discharged: <strong>{{formatDate checkedOut 'DD-MMM-YYYY'}}</strong></span>
                    {{#if los}}
                        |
                        <span class="date">Length of stay: <strong>{{los}}</strong></span>
                    {{/if}}
                {{/if}}
            </div>
        </a>
        <div class="ui grid">
            <div class="one wide column">
            </div>
            <div class="fifteen wide column">
                {{> UI.contentBlock}}
            </div>
        </div>
    </div>
    <div class="ui section divider"></div>
    </div>
</template>

