<template name="grouped_results_table">
    <table class="ui celled structured table">
        <thead>
            {{#with fieldsHeaderGrouped fieldsHeader}}
                {{> grouped_results_table_header fieldsHeader=this}}
            {{/with}}
            </thead>
        <tbody>
            {{#with getResultsRows this fieldsHeader}}
                {{> grouped_results_table_row this}}
            {{/with}}

        </tbody>
    </table>
</template>

<template name="grouped_results_table_header">
    {{#each fieldsHeader}}
        <tr>
        {{#each this}}
            <th class="{{name}}" rowspan="{{rowspan}}" colspan="{{colspan}}">{{label}}</th>
        {{/each}}
        </tr>
    {{/each}}
</template>

<template name="grouped_results_table_row">
    {{#each this}}
        <tr>
            {{#each this}}
                <td class="{{this.cellClass}}">{{this.value}}</td>
            {{/each}}
        </tr>
    {{/each}}
</template>
