<template name="results_table">
    <table class="ui celled table">
        <thead><tr>
            {{> results_table_header fieldsHeader=fieldsHeader}}
        </tr></thead>
        <tbody>

            {{#with getResultsRows this fieldsHeader}}
                {{> results_table_row this}}
            {{/with}}

        </tbody>

    </table>
</template>

<template name="results_table_header">
    {{#each fieldsHeader}}
        <th>{{this.label}}</th>
    {{/each}}
</template>

<template name="results_table_row">
    {{#each this}}
        <tr>
            {{#each this}}
                <td class="{{this.cellClass}}">{{this.value}}</td>
            {{/each}}
        </tr>
    {{/each}}
</template>
