<template name="AdmissionNotePDF">
  <style type="text/css" media="print">
    @page {
      size: landscape;
      margin: 0.5in;
    }
    img {
      max-width: 100%;
    }
  </style>
  <div class='ui container segment raised pdf_summary'>
    <div class="ui grid">
      {{>pdfHeader}}
      {{>pdfFormSubHeader}}

      <div class='sixteen wide column'>{{>admission_reason_for_admission_pdf}}</div>
      <div class='sixteen wide column'>{{>admission_medical_history_pdf}}</div>
      <div class='sixteen wide column'>{{>admission_surgical_history_pdf}}</div>
      <div class='sixteen wide column'>{{>admission_medications_pdf}}</div>
      <div class='eight wide column'>{{>admission_allergies_pdf}}</div>
      <div class='eight wide column '>{{>admission_habits_pdf}}</div>
      <div class='sixteen wide column'>{{>admission_other_pdf}}</div>

    </div>
    <div class='ui container segment raised'>
      {{>pdfConsultNoteData}}
    </div>
  </div>

</template>

<template name='admission_reason_for_admission_pdf'>
 <table class="ui small celled striped table ">
  <thead>
  	<tr>
  		<th> Reason for admission   </th>
  	</tr>
  </thead>
  <tbody>
  		<tr>
  			<td>
          {{#each form.reason_for_admission}}
          {{code}} - {{name}}<br/> {{description}} {{/each}}

       </td>
  		</tr>
  </tbody>
 </table>
</template>


<template name='admission_medical_history_pdf'>
 <table class="ui small celled striped table ">
  <thead>
  	<tr>
  		<th colspan='2'> Medical history</th>
  	</tr>
  </thead>
  <tbody>
  		{{#each form.medical_history}}<tr>
  		 <td> {{code}} - {{name}}</td><td> {{description}} </td>
  		</tr>
      {{/each}}
  </tbody>
 </table>
</template>
<template name='admission_surgical_history_pdf'>
 <table class="ui small celled striped table ">
  <thead>
  	<tr>
  		<th colspan="2"> Surgical history </th>
  	</tr>
  	<tr> <th> Year </th><th> details </th></tr>
  </thead>
  <tbody>
 {{#each form.surgical_history}}  <tr> <td> {{year}}  </td><td> {{details}}</td></tr>{{/each}}


  </tbody>
 </table>
</template>

<template name='admission_medications_pdf'>
 <table class="ui small celled striped table ">
  <thead>
  	<tr>
  		<th colspan="2"> Medications </th>
  	</tr>
  	<tr> <th> Name </th><th> Comments </th></tr>
  </thead>
  <tbody>
  {{#each form.medications}} <tr> <td> {{name}} </td><td> {{other}}</td> </tr>{{/each}}
  </tbody>
 </table>
</template>

<template name='admission_allergies_pdf'>
 <table class="ui small celled striped table ">
  <thead>
  	<tr>
  		<th colspan="2"> Allergies </th>
  	</tr>
  	<tr> <th> Allergy </th><th> Description </th></tr>
  </thead>
  <tbody>
  {{#each form.allergies}}<tr> <td> {{name}} </td><td> {{description}} </td></tr>{{/each}}


  </tbody>
 </table>
 </template>

 <template name='admission_habits_pdf'>
 <table class="ui small celled striped table ">
  <thead>
  	<tr>
  		<th colspan="3"> Habits </th>
  	</tr>
  	<tr> <th> Name </th><th> Frequency </th></tr>
  </thead>
  <tbody>
  <tr> <td> Tobacco </td><td> Cigarettes a day: {{form.habits.tobacco.frequency}}</td></tr>
  <tr><td> Alcohol </td><td> Drinks a day: {{form.habits.alcohol.frequency}} </td></tr>
 <tr><td> Other </td><td> {{form.habits.other.details}} </td></tr>
  </tbody>
 </table>
</template>

<template name='admission_other_pdf'>
    <table class="ui small celled striped table ">
        <thead>
            <tr>
                <th> Other notes </th>
            </tr>
        </thead>
        <tbody>
            <tr> <td> {{form.other_details}} </td></tr>
        </tbody>
    </table>
</template>
