<template name="appointmentItem">
 <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
     <a href="/appointments/{{_id}}/edit">
      <i class="material-icons mdl-list__item-avatar">person</i>
     <span>  {{#with getPatient subject}}
                    {{name}}
                {{/with}}</span>
      <span class="mdl-list__item-sub-title">{{ formatDate  start 'HH:MM'}}                 
      <label class="ui tiny {{getStatusClass status}} label">
                    {{status}}
                </label></span>
    </a>
    </span>
 
    <span class="mdl-list__item-secondary-content">
     <button id="{{_id}}" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>  
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="{{_id}}">
                    {{#if is status 'scheduled'}}      
                      <li class="mdl-menu__item"> <a href="#js-admissions-modal" class="js-admissions-modal">Admit patient </a></li>
                      <li class="mdl-menu__item" ><a href="{{pathFor 'patient' _id=subject}}">View patient details</a></li>
                      <li class="mdl-menu__item"><button class=" cancelAppointment">Cancel appointment</button></li>
                    {{/if}}
                    {{#if is status 'arrived'}}  
                      <li class="mdl-menu__item">  <a href="{{pathFor 'patient.encounter.new' patientId=subject}}">Start Encounter</a> </li>
                      <li class="mdl-menu__item" ><a href="{{pathFor 'patient' _id=subject}}">View patient details</a></li>
                      <li class="mdl-menu__item"> <a href="#js-admissions-modal" class="js-admissions-modal">Discharge</a></li> 
                    {{/if}}                      
                    {{#if is status 'completed'}}  
                      <li class="mdl-menu__item"><a href="{{pathFor 'patient' _id=subject}}">View patient details</a></li>
                    {{/if}}                
                </ul>
    </span>
  </li>


</template>





