<template name="appointments">
  <div class="ui container" id="appointments">
    <div class="ui huge breadcrumb">
      <a class="section" href="/appointments/new">New</a>
    
      <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" href='appointments/new'>
  <i class="material-icons">add</i> </a>

    </div>
    <nav>
      <div class="ui item four menu">
        <a href="?today=true" class="item {{equals filter.today true 'active'}}">Today</a>
        <a href="?tomorrow=true" class="item {{equals filter.tomorrow true 'active'}}">Tomorrow</a>
        <a href="?nextweek=true" class="item {{equals filter.nextweek true 'active'}}">Next week</a>
        <a href="?completed=true" class="item {{equals filter.completed true 'active'}}">All</a>
      </div>
    </nav>
    <div class="mdl-cell mdl-cell--12-col mdl-card">
      <ul class="mdl-list">
      {{#each appointments}}
        {{> appointmentItem this apptId=this._id}}
      {{/each}}
    </ul>
  
  </div>
  </div>
</template>
