<template name="appointmentForm">
<div class='mdl-card mdl-cell mdl-cell--12-col'>
  {{#autoForm schema=Schemas.Appointments.Form id="insertAppointmentsForm" collection="Appointments" class="listForm"
  doc=selectedListDoc type=formType validation="browser" template="semanticUI"}}

    <div class="two fields">
      {{> afQuickField name="participants"}}
      {{> afQuickField name="subject"}}
    </div>
    <div class="two fields">
      {{> afQuickField name="appointmentType"}}
      {{> afQuickField name="careplanId"}}
    </div>
    <div class="two fields">
      {{> afQuickField name="start"}}
      {{> afQuickField name="end"}}
    </div>
    {{> afQuickField name="location"}}
    {{> afQuickField name="encounterSubtypeId"}}
    <button class="ui submit button" type="submit">Save</button>
    <div class="ui error message"></div>
  {{/autoForm}}
  </div>
</template>
