<template name="cancelAppointment">
  <div class="ui confirm small cancel modal">
    <div class="header">Cancel appointment</div>
    <div class="content">
      {{#autoForm schema=Schemas.Appointments.Form id="updateAppointmentsForm" collection="Appointments" class="listForm"
      doc=selectedAppointmentDoc type="update" validation="browser" template="semanticUI"}}
        {{> afQuickField name="cancelReason" optional=false}}
        {{> afQuickField name="comment"}}
        <div class="actions">
          <div class="ui deny button">
            Cancel
          </div>
          <button class="ui submit button" type="submit">
            Cancel appointment
          </button>
        </div>
        <div class="ui error message"></div>
      {{/autoForm}}
    </div>
  </div>
</template>
