<template name="editAppointment">
  <div class="ui container">
    <div class="ui huge breadcrumb">
      <a class="section" href="/appointments">Appointments</a>
      <i class="right chevron icon divider"></i>
      <a class="section" href="/appointments/{{apptId}}/edit">{{apptId}}</a>
      <i class="right arrow icon divider"></i>
      <div class="active section">Edit</div>
    </div>
    {{>appointmentForm appt=appt apptId=apptId}}
  </div>
</template>
