<template name="newAppointment">
  <div class="ui container">
    <div class="ui huge breadcrumb">
      <a class="section" href="/appointments">Appointments</a>
      <i class="right arrow icon divider"></i>
      <div class="active section">New</div>
    </div>
    {{>appointmentForm}}
  </div>
</template>
