<template name='pdfHeader'>
    <div class="six wide tablefix">
        <img src="https://muhc.ca/sites/all/themes/muhc/logo.png" >

    </div>
    <div class=" ten wide tablefix">
        <h4 class="ui header right aligned pdf print">
            Notes d'Evolution
            <div class="sub header pdf">
                {{formName}}
            </div>
        </h4>
    </div>
</template>

