<template name="barcode">
    <svg id="barcode" data-value="{{document_id}}"></svg>
</template>

<template name="pdfFormSubHeader">
    <div style="width:100%;">
        <div class="ten wide tablefix float_left">
            <h2 class="ui header no-margin">{{patientName}}</h2>
            <div class="sub header "> {{phn.type}}: {{phn.value}} </div>
            <div>
                <span class="barcode-128">{{document_id}}</span>
            </div>
        </div>
        <div class="three wide tablefix right aligned text_align_right">
            <h2 class="ui sub header no-margin "> Location :</h2>
            <h2 class="ui sub header no-margin "> Admission date :</h2>
            <h2 class="ui sub header no-margin "> Discharge date :</h2>
            <h2 class="ui sub header no-margin "> Length of stay : </h2>
        </div>

        <div class="three wide tablefix right aligned text_align_right">
            <div class='ui sub header'>
                {{location}}<br/>
                {{admission_date}}<br/>
                {{discharge_date}}<br/>
                {{los}}
            </div>
        </div>
    </div>

</template>



