<template name='templateCNS'>
<table class='ui small  striped table '>
  <thead>
    <tr><th colspan="2" class=''>
      Neuro exam
    </th>
  </tr></thead>
<tbody style='font-size: 10px'>
   <tr>
      <td>NIHS</td><td class="right aligned">{{form.cns.nihs.yes}} - {{form.cns.nihs.score}}</td>
  </tr>    <tr>
  <td class="">WFNS</td><td class="right aligned">{{form.cns.wfns.yes}} - {{form.cns.wfns.score}}</td>
    </tr>    <tr>
      <td class="">Fisher</td><td class="right aligned">{{form.cns.fisher.yes}} - {{form.cns.fisher.score}}</td>
    </tr>    <tr>
      <td class="">ICHS / Volume </td><td class="right aligned">{{form.cns.ichs.yes}} - {{form.cns.ichs.score}} Vol: {{form.cns.ichs.volume}}</td>
    </tr>    <tr>
      <td class="">H H</td><td class="right aligned">{{form.cns.h_h.yes}} - {{form.cns.h_h.score}}</td>
    </tr>    <tr>
      <td class="">Brain stem</td><td class="right aligned">{{form.cns.cva.brainStem}}</td>
    </tr>
    <tr>
      <td class="">ACA</td><td class="right aligned">{{form.cns.cva.aca}}</td>
    </tr>    <tr>
      <td class="">MCA</td><td class="right aligned">{{form.cns.cva.mca}}</td>
    </tr>  <tr>
      <td class="">PCA</td><td class="right aligned">{{form.cns.cva.pca}}</td>
    </tr>
    <tr>
      <td class="">Milirone</td><td class="right aligned">{{form.cns.milrinone.dose}} - {{form.cns.milrinone.duration}}</td>
    </tr><tr>
      <td class="">EVD</td><td class="right aligned">{{form.cns.evd.present}}-{{form.cns.evd.drainage}}</td>
    </tr><tr>
      <td class="">GCS</td><td class="right aligned">{{form.cns.gcs.yes}}-{{form.cns.gcs.score}}</td>
    </tr>
  </tbody>
</table>


</template>
<template name='cranialNerve'>
<table class='ui small striped table'>

  <thead>
    <tr><th colspan="2" class=''>
      Cranial nerve
    </th>
  </tr></thead>
<tbody style='font-size: 10px'>
   <tr>
      <td>1</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_1}} </td>
  </tr>    <tr>
  <td class="">2</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_2}} </td>
    </tr>    <tr>
      <td class="">3</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_3}} </td>
    </tr>    <tr>
      <td class="">4</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_4}}</td>
    </tr>    <tr>
      <td class="">5</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_5}} </td>
    </tr>    <tr>
      <td class="">6</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_6}}</td>
    </tr>
    <tr>
      <td class="">7</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_7}}</td>
    </tr>    <tr>
      <td class="">8</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_8}}</td>
    </tr>  <tr>
      <td class="">9</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_9}}</td>
    </tr>
    <tr>
      <td class="">10</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_10}}</td>
    </tr><tr>
      <td class="">11</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_11}}</td>
    </tr><tr>
      <td class="">12</td><td class="right aligned">{{form.cns.cranial_nerve.cranial_12}}</td>
    </tr>
  </tbody>
</table>

</template>


<template name='neuroExams'>

<table class="ui table  compact">
  <thead><tr class='center aligned'><th>R</th><th>Motor</th><th>L</th></tr></thead>
  <tbody>
    <tr>
      <td colspan='3' class=" ">{{>pdf_motor}}</td>
    </tr>
  </tbody>
</table>

<table class="ui table  compact">
 <thead><tr class='center aligned'><th>R</th><th>Sensory</th><th>L</th></tr></thead>
  <tbody>
    <tr>
      <td class=" ">{{>pdf_sensory}}</td>
    </tr>
  </tbody>
</table>
</template>

<template name ='cns_reflex'>
<table class="ui table  compact">
 <thead><tr class='center aligned'><th>R</th><th>Reflex</th><th>L</th></tr></thead>
  <tbody>
    <tr>
      <td class=" " colspan='2'>{{>pdf_reflex}}</td>
    </tr>
  </tbody>
</table>
</template>

<template name='pdf_motor'>
        <div class=' custom-container ui'>
            <div class="dude">
                <img src="{{server_url}}/images/dude.png">
                <div id='motor-bicept-right'>{{form.cns.motor.bicept.right}}</div>
                <div id='motor-bicept-left'>{{form.cns.motor.bicept.left}}</div>
                <div id='motor-tricept-right'>{{form.cns.motor.tricept.right}}</div>
                <div id='motor-tricept-left'>{{form.cns.motor.tricept.left}}</div>
                <div id='motor-hand-right'>{{form.cns.motor.hand.right}}</div>
                <div id='motor-hand-left'>{{form.cns.motor.hand.left}}</div>
                <div id='motor-quad-right'>{{form.cns.motor.quad.right}}</div>
                <div id='motor-quad-left'>{{form.cns.motor.quad.left}}</div>
                <div id='motor-hamstring-right'>{{form.cns.motor.hamstring.right}}</div>
                <div id='motor-hamstring-left'>{{form.cns.motor.hamstring.left}}</div>
                <div id='motor-foot-right'>{{form.cns.motor.foot.right}}</div>
                <div id='motor-foot-left'>{{form.cns.motor.foot.left}}</div>
            </div>
        </div>
</template>
<template name='pdf_sensory'>
        <div class=' custom-container ui  '>
        <div class='dude' style='margin-left:-8px'>
                <img src="{{server_url}}/images/dude.png">
                <div id='sensory-face-right'>{{form.cns.sensory.face.right}}</div>
                <div id='sensory-face-left'>{{form.cns.sensory.face.left}}</div>
                <div id='sensory-arm-right'>{{form.cns.sensory.arm.right}}</div>
                <div id='sensory-arm-left'>{{form.cns.sensory.arm.left}}</div>
                <div id='sensory-torso-right'>{{form.cns.sensory.torso.right}}</div>
                <div id='sensory-torso-left'>{{form.cns.sensory.torso.left}}</div>
                <div id='sensory-feet-right'>{{form.cns.sensory.feet.right}}</div>
                <div id='sensory-feet-left'>{{form.cns.sensory.feet.left}}</div>
        </div>
      </div>
  </template>
<template name='pdf_reflex'>
        <div class=' custom-container ui  '>
        <div class='dude'>
                <img src="{{server_url}}/images/dude.png">
                <div id='reflex-upper-right'>{{form.cns.reflex.upper.right}}</div>
                <div id='reflex-upper-left'>{{form.cns.reflex.upper.left}}</div>
                <div id='reflex-lower-right'>{{form.cns.reflex.lower.right}}</div>
                <div id='reflex-lower-left'>{{form.cns.reflex.lower.left}}</div>
                <div id='reflex-hand-right'>{{form.cns.reflex.hand.right}}</div>
                <div id='reflex-hand-left'>{{form.cns.reflex.hand.left}}</div>
                <div id='reflex-quad-right'>{{form.cns.reflex.quad.right}}</div>
                <div id='reflex-quad-left'>{{form.cns.reflex.quad.left}}</div>
                <div id='reflex-hamstring-right'>{{form.cns.reflex.hamstring.right}}</div>
                <div id='reflex-hamstring-left'>{{form.cns.reflex.hamstring.left}}</div>
                <div id='reflex-foot-right'>{{form.cns.reflex.feet.right}}</div>
                <div id='reflex-foot-left'>{{form.cns.reflex.feet.left}}</div>
        </div>
      </div>


</template>

<template name='cns_cerebellum'>
  <table class='ui striped table no-padding'>
      <thead>
    <tr><th colspan="1" class=''>
      Cerebellum
    </th>
  </tr></thead>
   <tbody style='font-size: 10px'>
    <tr>
      <td class="">{{form.cns.cerebellum.state}} - {{form.cns.cerebellum.details}}</td>
    </tr>
  </tbody>
  </table>

  <table class='ui striped table no-padding'>
      <thead>
    <tr><th colspan="1" class=''>
      Vasospasm
    </th>
  </tr></thead>
    <tbody style='font-size: 10px'>
    <tr>
      <td class="">{{form.cns.vasospasm.yes}}</td>
    </tr>
  </tbody>
  </table>


</template>

<template name='neuroImaging'>
  <table class='ui striped table no-padding'>
  <thead>
    <tr><th colspan="1" class=''>
      Imaging
    </th>
  </tr></thead>
<tbody style='font-size: 10px'>
    <tr>
      <td class="">{{form.cns.imaging.ordered}} - {{form.cns.imaging.details}}</td>
    </tr>
  </tbody>
</table>

</template>




