<template name="consultNotePDF">
  <style type="text/css" media="print">
    @page {
      size: landscape;
      margin: 0.5in;
    }
    </style>
    <div class='ui container segment raised pdf_summary'>
        <div class="ui">
            {{>pdfHeader}}
            {{>pdfFormSubHeader}}
            {{>pdfConsultNoteData}}
        </div>
    </div>
</template>


<template name='pdfConsultNoteData'>
    <div class='ui'>
        <div class='sixteen wide tablefix vertical_top'>
            {{>templateHPI}}
        </div>
    </div>

    <div class='ui stackable two tablefix' style='padding-top: 0px'>
        <div class='tablefix eight vertical_top' style='padding-top: 0px'>
            <div class='ui four tablefix vertical_top'>
                {{>templateCNS}}
            </div>
            <div class='ui four tablefix vertical_top'>
                {{>cranialNerve}}
            </div>

            <div class='ui eight tablefix'>
                {{>neuroExams}}
            </div>
            <div class='ui eight tablefix vertical_top'>
                {{>cns_cerebellum}}
            </div>
            <div class='ui eight tablefix'>
                {{>cns_reflex}}
            </div>
        </div>
        <div class='tablefix eight vertical_top'>
            <div class="ui sixteen">
                <div class="ten tablefix padding-0 vertical_top">
                    <div class="eight wide tablefix padding-0 vertical_top"> {{>templateCVS}} </div>
                    <div class="eight wide tablefix padding-0 vertical_top">{{>templateRenal}}</div>
                    <div class="six wide tablefix padding-0 vertical_top" style="width:39%;">{{>templateGI}}</div>
                    <div class="ten wide tablefix padding-0">{{>templateHematology}}</div>
                </div>
                <div class="six tablefix padding-0 vertical_top">
                    <div class="sixteen wide tablefix padding-0 vertical_top">{{>templateProcedure}}</div>
                    <div class="sixteen wide tablefix padding-0" >{{>templateRespiratory}}</div>
                </div>
                <div class="sixteen wide tablefix padding-0 vertical_top" >{{>templateInfections}}</div>
            </div>
        </div>
    </div>
    <div class='ui'>
        <div class='sixteen wide tablefix'>{{>neuroImaging}}</div>

        <div class='sixteen wide tablefix'> {{>templateOther}}</div>
        <div class='sixteen wide tablefix'> {{>templateImpression}}</div>
    </div>


</template>


