
<template name='templateHPI'>
    <table class='ui striped table no-padding'>
        <thead>
            <tr>
                <th colspan="1" class=''>
                    History of present illness
                </th>
            </tr>
        </thead>
        <tbody style='font-size: 10px'>
            <tr>
                 <td class="" rowspan="5">{{form.impression.hpi}}</td>
            </tr>            
        </tbody>
    </table>
</template>

<template name='templateRenal'>
<table class="ui small striped compact  table">
  <thead>
    <tr><th colspan="2" class=''>
      Renal
    </th>
  </tr></thead>
<tbody style='font-size: 10px'>
    <tr>
      <td colspan='2' class="">Fluid balance<br/> {{form.renal.fluid_balance}}</td>
    </tr>    <tr>
      <td>Creatine</td><td class="right aligned">{{form.renal.creatinine}}</td>
 	</tr>    <tr>
 	<td class="">Na</td><td class="right aligned">{{form.renal.Na}}</td>
    </tr>    <tr>
      <td class="">K</td><td class="right aligned">{{form.renal.K}}</td>
    </tr> <tr>
      <td class="">Cl</td><td class="right aligned">{{form.renal.Cl}}</td>
    </tr>    <tr>
      <td class="">HC0<sub>3</sub></td><td class="right aligned">{{form.renal.HCO3}}</td>
    </tr>    <tr>
      <td class="">Ca</td><td class="right aligned">{{form.renal.Ca}}</td>
    </tr>    <tr>
      <td class="">Mg</td><td class="right aligned">{{form.renal.Mg}}</td>
    </tr>    <tr>
      <td class="">P0<sub>4</sub></td><td class="right aligned">{{form.renal.P04}}</td>
    </tr>
  </tbody>
</table>
</template>


<template name='templateCVS'>
 <table class="ui small striped compact  table">
  <thead>
    <tr><th colspan="2" class=''>
      CVS
    </th>
  </tr></thead>
  <tbody style='font-size: 10px'>
      <tr>
        <td class="">Heart rate</td><td class="right aligned">{{form.cvs.heart_rate}}</td>
      </tr>    <tr>        
      <td class="">BP</td><td class="right aligned">{{form.cvs.blood_pressure.value}}</td>
      </tr>    <tr>
        <td class="">Medication</td><td class="right aligned">{{form.cvs.blood_pressure.medication}}</td>      </tr>    <tr>
        <td class="">MAP</td><td class="right aligned">{{form.cvs.map}}</td>
      </tr>    <tr>
        <td class="">Rhythm</td><td class="right aligned">{{form.cvs.rhythm}}</td>
      </tr>    <tr>
          <td class="">Lactate</td><td class="right aligned">{{form.cvs.lactate}}</td>
      </tr>    <tr>
        <td class="">CVP<sub>3</sub></td><td class="right aligned">{{form.cvs.cvp}}</td>
      </tr>    <tr>
        <td class="">C-index</td><td class="right aligned">{{form.cvs.cardiac_index}}</td>
      </tr>    <tr>
        <td class="">Troponin</td><td class="right aligned">{{form.cvs.troponine}}</td>
      </tr>

  </tbody>
</table>
</template>
<template name='templateProcedure'>
 <table class="ui small striped   table">
  <thead>
    <tr><th colspan="2" class=''>
      Procedure
    </th>
  </tr></thead>
  <tbody style='font-size: 10px'>
    <tr>
      <td class="">Coil embolization</td><td class="right aligned">{{form.procedure.coil_embolization.performed}}<br/>
      {{form.procedure.coil_embolization.details}}</td>
    </tr>    <tr>
      <td class="">GA</td><td class="right aligned">
      {{form.procedure.coil_embolization.GA}}<br/>
      {{form.procedure.coil_embolization.time_from_onset}}</td>
    </tr>    <tr>
      <td class="">Clipping</td><td class="right aligned">
      {{form.procedure.clipping.performed}}<br/>
      {{form.procedure.clipping.details}}</td>
    </tr>    <tr>
      <td class="">Decompressive craniectomy</td><td class="right aligned">{{form.procedure.decompressive_craniectomy.performed}}</td>
    </tr>   
  </tbody>
</table>
</template>
<template name='templateGI'>
 <table class="ui small striped compact  table">
  <thead>
    <tr><th colspan="2" class=''>
      GI
    </th>
  </tr></thead>
  <tbody style='font-size: 10px'>
    <tr>
      <td class="">Feeds</td><td class="right aligned">{{form.Gi.Feeds}}</td>
    </tr>    <tr>
      <td class="">AST</td><td class="right aligned">{{form.Gi.ast}}</td>
    </tr>    <tr>
      <td class="">ALT</td><td class="right aligned">{{form.Gi.alt}}</td>
    </tr>    <tr>
      <td class="">GGT </td><td class="right aligned">{{form.Gi.ggt}}</td>
    </tr>    <tr>
      <td class="">INN<sub>3</sub></td><td class="right aligned">{{form.Gi.inr}}</td>
    </tr>    <tr>
      <td class="">PtT<sub>3</sub></td><td class="right aligned">{{form.Gi.ptt}}</td>
    </tr>    <tr>
      <td class="">Bilirubin</td><td class="right aligned">{{form.Gi.bilirubin}}</td>
</tr>
  </tbody>
</table>
</template>

<template name='templateRespiratory'>
 <table class="ui small striped compact table">
  <thead>
    <tr><th colspan="2" class=''>
      Respiratory
    </th>
  </tr></thead>
  <tbody style='font-size: 10px'>
    <tr>
      <td class="">O<sub>2</sub> saturation</td><td class="right aligned">{{form.respiratory.O2_saturation}}</td>
    </tr>    <tr>
      <td class="">Respiratory rate</td><td class="right aligned">{{form.respiratory.rate}}</td>
    </tr>    <tr>
      <td class="">Fi 0<sub>2</sub></td><td class="right aligned">{{form.respiratory.FiO2}}</td>
    </tr>    <tr>
      <td class="">Auscultation</td><td class="right aligned">{{form.respiratory.auscultation}}</td>
    </tr>    <tr>      
    <td class="">Xray</td><td class="right aligned">{{form.respiratory.Xray}}</td>
    </tr>    <tr>
      <td class="center aligned" colspan='2'><strong>Ventitlation</strong></td>
    </tr>    <tr>
      <td class="">Mode</td><td class="right aligned">{{form.respiratory.ventilator.mode}}</td>
    </tr>    <tr>
      <td class="">F</td><td class="right aligned">{{form.respiratory.ventilator.f}}</td>
    </tr>    <tr>
      <td class="">Vt</td><td class="right aligned">{{form.respiratory.ventilator.vt}}</td>
    </tr>	<tr>
      <td class="">PEEP</td><td class="right aligned">{{form.respiratory.ventilator.peep}}</td>
 	</tr>	<tr>
      <td class="">Pp Peak</td><td class="right aligned">{{form.respiratory.ventilator.pp_peak}}</td>
    </tr>
  </tbody>
</table>
</template>
<template name='templateHematology'>
 <table class="ui small striped compact  table">
  <thead>
    <tr><th colspan="2" class=''>
      Hematology
    </th>
  </tr></thead>
  <tbody style='font-size: 10px'>
    <tr>
      <td class="">WBC</td><td class="right aligned">{{form.hematology.WBC}}</td>
    </tr>    <tr>
      <td class="">Hb</td><td class="right aligned">{{form.hematology.Hb}}</td>
    </tr>    <tr>
      <td class="">Platelets</td><td class="right aligned">{{form.hematology.platelets}}</td>
    </tr>    <tr>
      <td class="">Temperature</td><td class="right aligned">{{form.hematology.temperature}}</td>
    </tr>   
    <tr>
      <td class="">Thromboprophylaxis</td><td class="right aligned">{{form.hematology.thromboprophylaxis.used}}<br/>
      {{form.hematology.thromboprophylaxis.details}}
      </td>
    </tr>    
    <tr>
    <td class="" colspan='2'>Medication<br/> 
   {{#each form.hematology.antibiotic}} 
    {{name}} - {{duration}}<br/> 
   {{/each}}  
      </td>
    </tr> 
  </tbody>
</table>
</template>



<template name='templateInfections'>
  <table class='ui striped table no-padding'>
  <thead>
    <tr><th colspan="1" class=''>
      Infection
    </th>
  </tr></thead>
  <tbody style='font-size: 10px'>
    <tr>
      <td class="">Infection notes here</td>
    </tr>
  </tbody>
</table>

</template>
<template name='templateOther'>
    <table class='ui striped table no-padding'>
        <thead>
            <tr>
                <th colspan="1" class=''>
                    Other notes
                </th>
            </tr>
        </thead>
        <tbody style='font-size: 10px'>
           {{#if form.cns.details}} 
           <tr>
                <td class="" rowspan="">CNS notes<br/> {{form.cns.details}}</td>
            </tr>        {{/if}}      
             {{#if form.cvs.details}}  <tr>
                <td class="" rowspan="">CVS notes<br/>{{form.cvs.details}}</td>
            </tr>  {{/if}}            
           {{#if form.renal.details}}  <tr>
                <td class="" rowspan="">Renal notes<br/>{{form.renal.details}}</td>
            </tr>  {{/if}}             
            {{#if form.Gi.details}} <tr>
                <td class="" rowspan="">Gi notes<br/>{{form.Gi.details}}</td>
            </tr>  {{/if}}            
            {{#if form.hematology.details}} <tr>
                <td class="" rowspan="">Hematology notes<br/>{{form.hematology.details}}</td>
            </tr>  {{/if}}            
            {{#if form.procedure.details}} <tr>
                <td class="" rowspan="">Procedure notes<br/>{{form.procedure.details}}</td>
            </tr> {{/if}}            
            {{#if form.impression.Other}} <tr>
                <td class="" rowspan="">{{form.impression.Other}}</td>
            </tr>  {{/if}}          
        </tbody>
    </table>
</template>
<template name='templateImpression'>
    <table class='ui striped table no-padding'>
        <thead>
            <tr>
                <th colspan="1" class=''>
                    Impression
                </th>
            </tr>
        </thead>
        <tbody style='font-size: 10px'>
            <tr>
                 <td class="" rowspan="5">{{form.impression.impression}}</td>
            </tr>            
        </tbody>
    </table>
</template>
